.calculator-html {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 10px;
}

.calculator-component {
  padding: 30px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

#add-flight-button {
  border-style: none;
  width: fit-content;
  padding: 5px 30px;
  border-radius: 30px;
  font-size: 1.2rem;
  color: white;
  background-color: #0080ff;
  box-shadow: 1px 1px 1px rgb(135, 135, 135);
}

#add-flight-button:hover {

}