#diet-choices {
  margin-bottom : 20px;
  display :block;
}

.navigation-btns {
  margin-top: 20px;
  display: block;
}

.cheese-and-meat {
  font-weight: 700
}

.radio-group {
  transform: scale(1.2);
  font-size: 2rem;
}

.checkbox {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#coffee-emoji {
  transform: scale(1.5);
}

#consumption-input-container {
  transform: scale(1.2);
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}