.tab {
  background-color: transparent; 
  border-style: none;
  padding: 5px 20px;
  margin-right: 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
  transition: all 0.2s ease;
}
.tab:hover {
/*   transform: scale(1.2); */
 color: rgb(58, 58, 58);
}

.selected-tab {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
/*   transform: scale(1.2); */
}

.spotlight {
  overflow: clip;
  width: 100%;
  height: 100%;
}

#Calculator {
  width: 100vw;
  height: 100vh;
  background-image: url("../../components/Travels/Travels_bg2.svg");
  background-size: 100% contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#Calculator h1, #Calculator h2 {
  color: rgb(0, 0, 0);
}

.calculator-component {
  margin-top: 10px;
  padding: 30px;
  display: flex;
  flex-shrink: 1;
  gap: 30px;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(135, 135, 135);
}

.calculator-canvas-div {
  margin-top: 20px;
  width: 450px;
  height: 450px; /* it was 500 before (width and height) */
  border-radius: 250px;
  box-shadow: 1px 1px 10px rgb(135, 135, 135); 
}

.calculator-html {
/*   outline: solid 1px; */
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 31rem;
  gap: 30px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 10px rgb(135, 135, 135); 
}

/* add flight, household buttons */
.calculator-button {
  border-style: none;
  width: fit-content;
  padding: 5px 25px;
  border-radius: 30px;
  font-size: 1.2rem;
  color: white;
  background-color: #0080ff;
  box-shadow: 1px 1px 1px rgb(135, 135, 135);
  transition: all 0.3s ease;
}

.calculator-button:hover {
  background-color: #00aeff;
}


.calc-button-container {
  height: 3rem;
}

#calculate-button:hover {
  transform: scale(1.3);
}

#calculate-button {
  color: rgb(57, 57, 57);
  background-color: white;
  transform: scale(1.2);
}
