.Homepage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('./Clouds_bg.svg');
  background-size: 100% auto; /* Fill width, retain proportions */
}

.homepage-html {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 200px 150px;
  gap: 10px;
}

.background-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.canvas-div {
  position: absolute;
  height: 100vh;
  width: 70vw;
  left: 400px;
  z-index: 1;
/*   outline: solid 1px; */
}

#title {
  font-size: 5rem;
  font-family: 'Secular One', cursive;
  text-shadow: 1px 1px 2px rgb(61, 61, 61);
  margin-bottom: 0;
  color: rgb(252, 252, 252);
}

#typewriter {
  font-size: 2rem;
}

.call-to-action-button {
  font-size: 2rem;
  border-style: none;
  border-radius: 30px;
  background-color: #0080ff;
  color: white;
  width: fit-content;
  padding: 5px 50px;
  transition: all 0.3s ease;
}

.call-to-action-button:hover {
  background-color: #0080ff;
  transform: scale(1.1);
}