.Homepage {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.homepage-html {
  position: absolute;
  left: 50px;
  z-index: 2;
}

.canvas-div {
  height: 100vh;
  width: 100vw;
  position: relative;
}