@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
  font-family: 'Secular One', cursive;
}


body {
  margin: 0;
  font-family: 'Secular One', cursive;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

.statistics-container {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.statistic-card {
  padding: 10px 10px;
/*   outline: solid 1px; */
  background-color: white;
  box-shadow: 1px 1px 5px rgb(135, 135, 135); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.statistic-card p {
  font-size: 1.1rem;
  color: gray;
  border-bottom: solid 1px rgb(171, 171, 171);
}

.statistic-card h2 {
  font-size: 1.7rem;
  color: rgb(7, 137, 7);
}